@model IEnumerable<Hospital.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<br/>
<h4>Patients</h4>

<table class="table table-striped" style="margin-top: 15px">
    <thead class="bg-warning bg-opacity-10">
        <tr>
            <th>
                Code
            </th>
            <th>
                Last Name
            </th>
            <th>
                Date of Birth
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>
                    @patient.Id
                </td>
                <td>
                    @patient.Name
                </td>
                <td>
                    @patient.BirthDate.ToShortDateString()
                </td>
            </tr>
        }
    </tbody>
</table>
