<!DOCTYPE html>
<html>
<head>
    <title>Home Page - Laboratory Work Example</title>
    <style>
        .text-center {
            text-align: center;
        }
        em {
            font-style: italic;
        }
        strong {
            font-weight: bold;
        }
        ol {
            padding-left: 20px;
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <br/>
        <h3>Example for Laboratory Work #3</h3>
    </div>
    <div>
        <p>
            File "Doctorst.csv" contains <em>codes</em>, <em>surnames</em>, and <em>specializations</em> of doctors.<br/>
            File "Patients.csv" contains patient data in the format:
            <em>patient code</em>, <em>surname of patient</em>, <em>date of birth</em><br />
            File "Visits.csv" contains data about patient visits to doctors in the format:
            <em>doctor code</em>, <em>patient code</em>, <em>date of visit</em> (can be missing).
        </p>
        <p/>
        <p>
            <strong>Perform the following tasks:</strong>
        </p>
        <p/>
        <ol>
            <li>After user authentication, provide the ability to display the contents of the files on separate web pages.</li>
            <li>For each doctor, display the maximum age of his patients, whom he accepted in a given year (or throughout the time).</li>
            <li>Display the surnames of patients who visited doctors of all possible specialties (among those that occur in the file Doctors.csv).</li>
        </ol>
    </div>
</body>
</html>
